<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submission result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="'Задание для заявки №' + ${order.number} + ' на созвон с клиентом успешно создано'"></h1>
<p><a href="/courier">Вернуться на главную</a></p>
</body>
</html>