<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submission result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        TABLE {
            border: 1px solid black;
        }
        TD, TH {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Список активных заданий</h1>
<table>
    <tr>
        <th>Номер заказа</th>
        <th>Дата добавления задания</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.number}"></td>
        <td th:text="${order.dateTaskLag}"></td>
    </tr>
</table>

<p><a href="/operator">Вернуться на главную</a></p>
</body>
</html>